/* styles.css */

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/* ! tailwindcss v3.4.13 | MIT License | https://tailwindcss.com */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

.bpoint {
  margin-right: 8px;
  display: flex;
  height: 66px;
  width: 66px;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border-width: 5px;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  font-size: 2.84375rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  /* Define the custom shadow directly */
  box-shadow: inset 0 5.5px 15.04px 0.96px rgba(3, 4, 4, 0.34), 1.94px 1.57px 0.76px 0.24px rgba(0, 2, 25, 0.15);
}

.nkil {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  min-height: 92px;
  align-items: center;
  border-radius: 45.89px;
  --tw-bg-opacity: 1;
  background-color: rgb(224 132 42 / var(--tw-bg-opacity));
  padding: 8px 11px 4px;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.left-1\/2 {
  left: 50%;
}

.left-\[96\%\;\] {
  left: 96%;;
}

.right-\[136\.5px\] {
  right: 136.5px;
}

.top-0 {
  top: 0px;
}

.top-4 {
  top: 1rem;
}

.top-\[196px\] {
  top: 196px;
}

.z-0 {
  z-index: 0;
}

.z-\[114\] {
  z-index: 114;
}

.z-\[118\] {
  z-index: 118;
}

.z-\[120\] {
  z-index: 120;
}

.z-\[24\] {
  z-index: 24;
}

.z-\[25\] {
  z-index: 25;
}

.z-\[26\] {
  z-index: 26;
}

.z-\[27\] {
  z-index: 27;
}

.z-\[29\] {
  z-index: 29;
}

.float-left {
  float: left;
}

.mx-\[113px\] {
  margin-left: 113px;
  margin-right: 113px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.my-24 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.-mt-\[168px\] {
  margin-top: -168px;
}

.-mt-\[173px\] {
  margin-top: -173px;
}

.-mt-\[25px\] {
  margin-top: -25px;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-\[20px\] {
  margin-bottom: 20px;
}

.mb-\[30px\] {
  margin-bottom: 30px;
}

.ml-5 {
  margin-left: 1.25rem;
}

.ml-\[100px\] {
  margin-left: 100px;
}

.ml-\[101px\] {
  margin-left: 101px;
}

.ml-\[742px\] {
  margin-left: 742px;
}

.ml-\[786px\] {
  margin-left: 786px;
}

.ml-\[89px\] {
  margin-left: 89px;
}

.mr-\[8px\] {
  margin-right: 8px;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-3\.5 {
  margin-top: 0.875rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-\[-15px\] {
  margin-top: -15px;
}

.mt-\[10px\] {
  margin-top: 10px;
}

.mt-\[135px\] {
  margin-top: 135px;
}

.mt-\[30px\] {
  margin-top: 30px;
}

.mt-\[62px\] {
  margin-top: 62px;
}

.mt-\[78px\] {
  margin-top: 78px;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.h-\[239px\] {
  height: 239px;
}

.h-\[5px\] {
  height: 5px;
}

.h-\[66px\] {
  height: 66px;
}

.h-\[698px\] {
  height: 698px;
}

.max-h-\[766px\] {
  max-height: 766px;
}

.min-h-\[443px\] {
  min-height: 443px;
}

.min-h-\[502px\] {
  min-height: 502px;
}

.min-h-\[711px\] {
  min-height: 711px;
}

.min-h-\[71px\] {
  min-height: 71px;
}

.min-h-\[92px\] {
  min-height: 92px;
}

.w-1\/2 {
  width: 50%;
}

.w-\[1104px\] {
  width: 1104px;
}

.w-\[1108px\] {
  width: 1108px;
}

.w-\[1138px\] {
  width: 1138px;
}

.w-\[1391px\] {
  width: 1391px;
}

.w-\[1648px\] {
  width: 1648px;
}

.w-\[1664px\] {
  width: 1664px;
}

.w-\[179px\] {
  width: 179px;
}

.w-\[345px\] {
  width: 345px;
}

.w-\[455px\] {
  width: 455px;
}

.w-\[525px\] {
  width: 525px;
}

.w-\[534px\] {
  width: 534px;
}

.w-\[536px\] {
  width: 536px;
}

.w-\[662px\] {
  width: 662px;
}

.w-\[667px\] {
  width: 667px;
}

.w-\[66px\] {
  width: 66px;
}

.w-\[826px\] {
  width: 826px;
}

.w-\[885px\] {
  width: 885px;
}

.max-w-\[667px\] {
  max-width: 667px;
}

.max-w-full {
  max-width: 100%;
}

.max-w-\[1688px\] {
  max-width: 1688px;
}

.max-w-\[1325px\] {
  max-width: 1325px;
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.list-disc {
  list-style-type: disc;
}

.list-none {
  list-style-type: none;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-4 {
  gap: 1rem;
}

.gap-8 {
  gap: 2rem;
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.space-y-7 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.75rem * var(--tw-space-y-reverse));
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.rounded-\[26px\] {
  border-radius: 26px;
}

.rounded-\[29px\] {
  border-radius: 29px;
}

.rounded-\[35\.66px\] {
  border-radius: 35.66px;
}

.rounded-\[45\.89px\] {
  border-radius: 45.89px;
}

.rounded-full {
  border-radius: 9999px;
}

.border-\[10px\] {
  border-width: 10px;
}

.border-\[5px\] {
  border-width: 5px;
}

.border-\[\#ffffff\] {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.bg-\[\#141119\] {
  --tw-bg-opacity: 1;
  background-color: rgb(20 17 25 / var(--tw-bg-opacity));
}

.bg-\[\#454545\] {
  --tw-bg-opacity: 1;
  background-color: rgb(69 69 69 / var(--tw-bg-opacity));
}

.bg-\[\#e0842a\] {
  --tw-bg-opacity: 1;
  background-color: rgb(224 132 42 / var(--tw-bg-opacity));
}

.bg-\[\#eadbcf\] {
  --tw-bg-opacity: 1;
  background-color: rgb(234 219 207 / var(--tw-bg-opacity));
}

.bg-\[\#f36d46\] {
  --tw-bg-opacity: 1;
  background-color: rgb(243 109 70 / var(--tw-bg-opacity));
}

.bg-\[\#f5eaea\] {
  --tw-bg-opacity: 1;
  background-color: rgb(245 234 234 / var(--tw-bg-opacity));
}

.bg-\[\#ffffff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-\[rgba\(56\2c 46\2c 39\2c 0\.71\)\] {
  background-color: rgba(56,46,39,0.71);
}

.bg-\[url\(\'images\/adjustments\.jpg\'\)\] {
  background-image: url('images/adjustments.jpg');
}

.bg-\[url\(\'images\/triangle_2\.png\'\)\] {
  background-image: url('images/triangle_2.png');
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.from-\[\#f80404\] {
  --tw-gradient-from: #f80404 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(248 4 4 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-\[\#ff6000\] {
  --tw-gradient-to: #ff6000 var(--tw-gradient-to-position);
}

.bg-cover {
  background-size: cover;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.p-4 {
  padding: 1rem;
}

.p-\[6px_11px\] {
  padding: 6px 11px;
}

.p-\[8px_11px_4px\] {
  padding: 8px 11px 4px;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-\[33px\] {
  padding-left: 33px;
  padding-right: 33px;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-9 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.py-\[34px\] {
  padding-top: 34px;
  padding-bottom: 34px;
}

.py-\[380px\] {
  padding-top: 380px;
  padding-bottom: 380px;
}

.pb-64 {
  padding-bottom: 16rem;
}

.pb-\[33px\] {
  padding-bottom: 33px;
}

.pb-\[74px\] {
  padding-bottom: 74px;
}

.pt-\[130px\] {
  padding-top: 130px;
}

.pt-\[18px\] {
  padding-top: 18px;
}

.pt-\[95px\] {
  padding-top: 95px;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-\[1\.909722rem\] {
  font-size: 1.909722rem;
}

.text-\[2\.604167rem\] {
  font-size: 2.604167rem;
}

.text-\[2\.604rem\] {
  font-size: 2.604rem;
}

.text-\[2\.84375rem\] {
  font-size: 2.84375rem;
}

.text-\[3\.038194rem\] {
  font-size: 3.038194rem;
}

.text-\[3\.472223rem\] {
  font-size: 3.472223rem;
}

.text-\[47\.77px\] {
  font-size: 47.77px;
}

.text-\[61\.22px\] {
  font-size: 61.22px;
}

.text-\[81\.62px\] {
  font-size: 81.62px;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.leading-\[1\.2\] {
  line-height: 1.2;
}

.leading-\[38\.88889px\] {
  line-height: 38.88889px;
}

.leading-\[39\.58333px\] {
  line-height: 39.58333px;
}

.leading-\[71px\] {
  line-height: 71px;
}

.leading-tight {
  line-height: 1.25;
}

.tracking-\[0\.02em\] {
  letter-spacing: 0.02em;
}

.text-\[\#000000\] {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-\[\#454545\] {
  --tw-text-opacity: 1;
  color: rgb(69 69 69 / var(--tw-text-opacity));
}

.text-\[\#ee9946\] {
  --tw-text-opacity: 1;
  color: rgb(238 153 70 / var(--tw-text-opacity));
}

.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.marker\:text-\[\#ee9946\] *::marker {
  color: rgb(238 153 70 );
}

.marker\:text-\[\#ee9946\]::marker {
  color: rgb(238 153 70 );
}

.first\:mt-0:first-child {
  margin-top: 0px;
}
